/* SignUp /sign in  */

body {
  /* background-color: #f2f7fb; */
  margin: 0;
  padding: 0;
  background-color: #b5fac7;
}
body::-webkit-scrollbar {
  display: none;
}

.login-block {
  margin: 30px auto;
  min-height: 93.6vh;
}

.login-block .auth-box {
  margin: 20px auto 0;
  max-width: 460px !important;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1),
    0 11px 6px -7px rgba(43, 43, 43, 0.1);
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1),
    0 11px 6px -7px rgba(43, 43, 43, 0.1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.card .card-block {
  padding: 1.25rem;
}

.f-80 {
  font-size: 80px;
}

.form-group {
  margin-bottom: 1.25em;
}

.form-material .form-control {
  display: inline-block;
  height: 43px;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 9px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px;
}

.btn-primary {
  background-color: #4099ff;
  border-color: #4099ff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
}

.m-b-20 {
  margin-bottom: 20px;
}

.btn-md {
  padding: 10px 126px;
  font-size: 15px;
  line-height: 23px;
}

.heading {
  font-size: 21px;
}

#infoMessage p {
  color: red !important;
}

.btn-google {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd;
}
.btn-content {
  padding: 0 3rem 0 3rem;
}

.SP_content {
  font-size: 13px;
  font-weight: 400;
}
.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 25px 0;
}

.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px;
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center;
}

.fb-image {
  height: 2rem;
  width: 2rem;
}
.g-image {
  height: 2rem;
  width: 2rem;
}

/*  */

.Imagecontainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  left: -3rem;
}

.Imagecontainer img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.Imagecontainer .btn {
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;

  text-align: center;
}

.Imagecontainer .btn:hover {
  background-color: black;
}
/* ======= */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .Imagecontainer img {
    margin-top: 3rem !important;
  }
  .Imagecontainer .btn {
    position: absolute;
    top: 80%;
    left: 26%;

    font-size: 30px;
  }
}

/* ListingItem */

.category-link a {
  text-decoration: none;
  color: black;
  line-height: normal;
}

/* Spinner */

.spinner {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Create listing */
.BgColor {
  background-color: #ffffff;
  box-shadow: #545454;
}
.saleRent {
  text-decoration: none;
  color: black;
  line-height: normal;
}
.SRButton {
  margin: 20px auto 0;
  max-width: 460px !important;
}

/* Slider */

.slider-s {
  position: relative;
}

/* Header */

/* Button */
.btn-de {
  border-radius: 2rem;
  text-decoration: none;
}
.btn-space {
  display: flex;
}
.post-btn {
  margin-left: 90%;
  padding-top: 2rem;
}
.link-logo {
  text-decoration: none;
  color: black;
}

/* Empty-Box */
.empty-box {
  user-select: none;
}
.empty-box-text {
  font-size: 18px;
  margin-left: 2rem;
}
.emtpy-box-logo {
  width: 15rem;
  height: 10rem;
  margin-top: 10rem;
}
/* Signin */
.content {
  margin-top: 15px;
}
/* .form-group input {
  border: 2px solid green;
} */
